Movies/WPF_App/Connected Services/WCF_Movie_Services/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovieDTO" nillable="true" type="tns:MovieDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovieDTO" nillable="true" type="tns:ArrayOfMovieDTO" />
  <xs:complexType name="MovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MovieID" type="xs:int" />
      <xs:element minOccurs="0" name="Posterpath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Runtime" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoteAverage" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovieDTO" nillable="true" type="tns:MovieDTO" />
  <xs:complexType name="ArrayOfLightMovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LightMovieDTO" nillable="true" type="tns:LightMovieDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLightMovieDTO" nillable="true" type="tns:ArrayOfLightMovieDTO" />
  <xs:complexType name="LightMovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoteAverage" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LightMovieDTO" nillable="true" type="tns:LightMovieDTO" />
  <xs:complexType name="ArrayOfCharacterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterDTO" nillable="true" type="tns:CharacterDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacterDTO" nillable="true" type="tns:ArrayOfCharacterDTO" />
  <xs:complexType name="CharacterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CharacterDTOId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharacterDTO" nillable="true" type="tns:CharacterDTO" />
  <xs:complexType name="CommentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Rate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentDTO" nillable="true" type="tns:CommentDTO" />
  <xs:complexType name="FullActorDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActorDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="Movies" nillable="true" type="tns:ArrayOfLightMovieDTO" />
          <xs:element minOccurs="0" name="comment" nillable="true" type="tns:ArrayOfCommentDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FullActorDTO" nillable="true" type="tns:FullActorDTO" />
  <xs:complexType name="ActorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActorId" type="xs:int" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActorDTO" nillable="true" type="tns:ActorDTO" />
  <xs:complexType name="ArrayOfCommentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommentDTO" nillable="true" type="tns:CommentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentDTO" nillable="true" type="tns:ArrayOfCommentDTO" />
  <xs:complexType name="ArrayOfActorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActorDTO" nillable="true" type="tns:ActorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActorDTO" nillable="true" type="tns:ArrayOfActorDTO" />
</xs:schema>