Movies/WPF_App/Connected Services/WCF_Movie_Services/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59135/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="GetMovieByIdActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idActor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieByIdActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetMovieByIdActorResult" nillable="true" type="q1:ArrayOfMovieDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavoriteFilms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavoriteFilmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetFavoriteFilmsResult" nillable="true" type="q2:ArrayOfLightMovieDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterByIdActorAndIdFilm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actorId" type="xs:int" />
        <xs:element minOccurs="0" name="MovieId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterByIdActorAndIdFilmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetCharacterByIdActorAndIdFilmResult" nillable="true" type="q3:ArrayOfCharacterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindXMoviesByPartialActorName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nbElm" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindXMoviesByPartialActorNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="FindXMoviesByPartialActorNameResult" nillable="true" type="q4:ArrayOfMovieDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommentOnActorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actorId" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="commentDTO" nillable="true" type="q5:CommentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommentOnActorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCommentOnActorIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetActorByIdResult" nillable="true" type="q6:FullActorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountActors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountActorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountActorsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXActorsFromY">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXActorsFromYResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetXActorsFromYResult" nillable="true" type="q7:ArrayOfActorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXActorsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXActorsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetXActorsByNameResult" nillable="true" type="q8:ArrayOfActorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentByActorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentByActorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetCommentByActorIdResult" nillable="true" type="q9:ArrayOfCommentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountCommentsByActor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountCommentsByActorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountCommentsByActorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXCommentsFromYByActorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actorId" type="xs:int" />
        <xs:element minOccurs="0" name="X" type="xs:int" />
        <xs:element minOccurs="0" name="Y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXCommentsFromYByActorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetXCommentsFromYByActorIdResult" nillable="true" type="q10:ArrayOfCommentDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRateCommentbyActorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRateCommentbyActorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRateCommentbyActorIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>