Movies/Test_WCF/Connected Services/ServiceReferenceFilm/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovieDTO" nillable="true" type="tns:MovieDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovieDTO" nillable="true" type="tns:ArrayOfMovieDTO" />
  <xs:complexType name="MovieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MovieID" type="xs:int" />
      <xs:element minOccurs="0" name="Posterpath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Runtime" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoteAverage" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovieDTO" nillable="true" type="tns:MovieDTO" />
</xs:schema>